/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries */
/* #Site Styles
================================================== */
body {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #555;
  font-size: 16px;
  line-height: 160%;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px rgba(128, 128, 128, 0.01); }

blockquote, p, li {
  line-height: inherit; }

code, pre {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  border: 1px solid #dedede;
  color: #333;
  display: inline-block;
  font-size: 14px !important;
  padding: 0 3px 2px;
  margin: -1px 0; }

code {
  background-color: #f8f8ff;
  color: #D14;
  padding: 0 4px; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc; }
  a:visited {
    color: #000; }
  a:hover, a:active {
    color: #6666FF; }

h1, h2, h3, h4, h5, h6 {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures additionalligatures;
  font-family: "lemonde-courrier-n6", "lemonde-courrier", serif;
  font-style: normal;
  font-weight: 600; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom: none; }

strong, b {
  color: #000;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#sidebar-wrapper {
  border-right: 1px dotted #efefef;
  height: 100%;
  position: fixed;
  width: inherit; }
  #sidebar-wrapper #site-header,
  #sidebar-wrapper #links,
  #sidebar-wrapper #index-hint {
    color: #aaa !important;
    padding: 0 25px 0 10px;
    position: absolute;
    z-index: 100; }
  #sidebar-wrapper #site-header {
    top: 62px; }
    #sidebar-wrapper #site-header a {
      border-bottom: none; }
    #sidebar-wrapper #site-header h1,
    #sidebar-wrapper #site-header p {
      line-height: 1.2;
      margin: 0 0 0.75em 0;
      padding: 0; }
    #sidebar-wrapper #site-header h1 {
      font-size: 22px; }
    #sidebar-wrapper #site-header p {
      font-size: 20px; }
  #sidebar-wrapper #links {
    bottom: 50px;
    margin-bottom: 0; }
    #sidebar-wrapper #links .imprint {
      font-size: 11px;
      margin-bottom: 0; }
      #sidebar-wrapper #links .imprint a {
        color: #aaa; }
  #sidebar-wrapper #index-hint {
    top: 45%; }

/* #Page Styles
================================================== */
.post-column article {
  margin: 50px 2.5% 77px 2.5%; }
  .post-column article h1, .post-column article h2, .post-column article h3, .post-column article h4, .post-column article h5, .post-column article h6 {
    text-shadow: 0px 1px 2px #bbb; }
  .post-column article header h3.subheadline {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-variant-ligatures: common-ligatures additionalligatures;
    font-family: "lemonde-courrier-n4", "lemonde-courrier", serif;
    font-style: normal;
    font-weight: 400;
    color: #888;
    font-size: 20px;
    line-height: 140%;
    text-shadow: none; }
  .post-column article time,
  .post-column article .no-time {
    color: #aaa;
    display: block;
    padding-bottom: 40px;
    text-transform: uppercase; }
  .post-column article img,
  .post-column article iframe {
    border-bottom: 2px solid #eee;
    max-width: 100%; }
  .post-column article sup a {
    background-color: #ddf;
    border-bottom: none;
    border-radius: 9px;
    color: black !important;
    font-size: 11px;
    margin-left: 2px;
    padding: 1px 5px 2px;
    text-shadow: 1px 1px 3px #fff;
    vertical-align: top; }
  .post-column article ul {
    list-style: disc outside;
    margin-left: 30px; }
  .post-column article .footnotes {
    border-top: 1px solid #eee;
    padding-top: 20px; }
    .post-column article .footnotes a[rel='reference'] {
      margin-left: 5px; }
  .post-column article .highlight {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(255, 204, 51, 0.4);
    padding: 0 2px 2px 2px; }
  .post-column article .article-end {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-variant-ligatures: common-ligatures additionalligatures;
    font-family: "lemonde-courrier-n6", "lemonde-courrier", serif;
    font-style: normal;
    font-weight: 600;
    color: #ddd;
    font-size: 32px;
    font-weight: bold;
    padding: 75px 0 0 0;
    text-align: center; }

.list-column section {
  margin: 57px 2.5% 60px 2.5%; }
  .list-column section ul#post-list li {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    font-variant-ligatures: common-ligatures additionalligatures;
    font-family: "lemonde-courrier-n4", "lemonde-courrier", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 25px; }
    .list-column section ul#post-list li .subheadline {
      color: #888;
      font-size: 16px;
      line-height: 140%;
      text-shadow: none; }
  .list-column section ul#post-list time {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #aaa;
    display: block;
    font-size: 14px;
    text-transform: uppercase; }
  .list-column section ul#pagination li {
    display: inline-block;
    width: 45%; }
    .list-column section ul#pagination li.future {
      text-align: right; }
    .list-column section ul#pagination li.past {
      text-align: left; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #sidebar-wrapper #site-header {
    top: 65px; }
    #sidebar-wrapper #site-header h1 {
      font-size: 18px; }
    #sidebar-wrapper #site-header p {
      font-size: 16px;
      line-height: 1.4; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #sidebar-wrapper {
    border-right: none;
    padding: 10px 0 0 0;
    position: static; }
    #sidebar-wrapper #site-header,
    #sidebar-wrapper #links {
      padding: 0;
      position: static; }
    #sidebar-wrapper #site-header h1 {
      font-size: 40px;
      margin: 10px 0; }
    #sidebar-wrapper #links ul li {
      display: inline-block;
      margin-right: 1em; }
    #sidebar-wrapper #index-hint {
      display: none; }

  article {
    padding: 0;
    width: inherit; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
