<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  {% if page.title %}
      <title>{{ page.title }} &larr; Carlo Zottmann</title>
  {% else %}
      <title>Carlo Zottmann</title>
  {% endif %}
  <link href="{{ site.baseurl }}css/base.css" rel="stylesheet">
  <link href="{{ site.baseurl }}css/skeleton.css" rel="stylesheet">
  <link href="{{ site.baseurl }}css/layout.css" rel="stylesheet">
  <link href="//f.fontdeck.com/s/css/uH5+KWQnibDTJRYggGJ9XZLTAgw/carlo.zottmann.org/20103.css" rel="stylesheet">
  <script src="//use.typekit.com/lvn0xvt.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
