<div id="links">
  <ul>
    <li>
      <a href="/me/">Carlo</a>
    </li>
    <li>
      <a href="http://audito.re/1qYw_g.jpg">@czottmann (ADN)</a>
    </li>
    <li>
      <a href="https://twitter.com/municode">@municode (Twitter)</a>
    </li>
    <li>
      <a href="http://municode.de">municode.de</a>
    </li>
    <li>
      <a href="mailto:carlo@zottmann.org">Mail</a>
    </li>
    <li>
      <a href="/rss/index.xml">RSS</a>
    </li>
    <li class="imprint">
      <a href="/me/">Impressum / Imprint</a>
    </li>
  </ul>
</div>
