<address class="vcard">
  <p class="visuallyhidden">
    <a class="url fn" title="My personal blog" href="http://carlo.zottmann.org">Carlo Zottmann</a>
    is a
    <span class="title">Freelancing Web Developer</span>
    from
    <span class="adr">
      <span class="locality">Munich</span>,
      <span class="country-name">Germany</span>.
    </span>

    He is
    <a class="url" title="My business site" href="http://municode.de">available for hire</a>
    and can be reached via
    <a class="email" title="Send me an email" href="mailto:carlo@zottmann.org">carlo@zottmann.org</a>,
    <a href="http://twitter.com/municode"rel="me" title="Follow me on Twitter">Twitter</a>,
    or
    <a href="https://plus.google.com/117556235540402405674/" rel="me" title="Circle me on Google+">Google+</a>.
  </p>
</address>
