<address class="vcard">
  <p class="visuallyhidden">
    <a class="url fn" title="Mein Blog" href="http://carlo.zottmann.org">Carlo Zottmann</a>
    ist ein
    <span class="title">Freier Softwareentwickler</span>
    aus
    <span class="adr">
      <span class="locality">München</span>,
      <span class="country-name">Deutschland</span>.
    </span>

    Er ist
    <a class="url" title="Meine Firmen-Site" href="http://municode.de">interessiert an Projektanfragen</a>
    und ist über
    <a class="email" title="Schick mir eine Mail" href="mailto:carlo@zottmann.org">carlo@zottmann.org</a>,
    <a href="http://twitter.com/municode" rel="me" title="Follow me on Twitter">Twitter</a>,
    und
    <a href="https://plus.google.com/117556235540402405674/" rel="me" title="Circle me on Google+">Google+</a>
    erreichbar.
  </p>
</address>
