<address class="vcard visuallyhidden">
  <a class="url fn" title="My personal blog" href="http://carlo.zottmann.org">Carlo Zottmann</a>
  <div class="label">Freelance web dev</div>

  <a class="url fn" title="My business site" href="http://municode.de">Carlo Zottmann</a>
  <a class="email" title="Send me an email" href="mailto:carlo@zottmann.org">carlo@zottmann.org</a>
  <a href="http://twitter.com/municode"rel="me" title="Follow me on Twitter">Twitter</a>
  <a href="https://plus.google.com/117556235540402405674/" rel="me" title="Circle me on Google+">Google+</a>

  <div class="adr">
    <span class="locality">Munich</span>
    <span class="country-name">Germany</span>
  </div>
</address>
