<!DOCTYPE html>
<html lang="{{ page.lang || 'en' }}">
  {% include head.html %}

  <body>
    <div class="container">
      <div class="four columns">
        <div id="sidebar-wrapper">

          {% include sidebar-header.html %}
          {% include sidebar-links.html %}

        </div>
        &nbsp;
      </div>

      <div class="twelve columns post-column">
        <article class="instapaper_body hentry">
          <header>
            <h2 class="entry-title">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </h2>
            {% if page.abstract %}
              <h3 class="subheadline entry-summary">
                {{ page.abstract }}
              </h3>
            {% endif %}
            {% if page.date %}
              <time datetime="{{ page.date }}" class="updated" pubdate>— {{ page.date | fuzzy_date }}</time>
            {% else %}
              <div class="no-time"></div>
            {% endif %}
          </header>

          <section class="entry-content">
            {{ content }}

            {% unless page.tags.size == 0 %}
              <p class="tags">
                This post was filed under
                {{ page.tags | tag_links }}.
              </p>
            {% endunless %}

            <p class="article-end">
              ~ FIN ~
            </p>

            {% if page.lang == "de" %}
              {% include vcard-de.html %}
            {% else %}
              {% include vcard-en.html %}
            {% endif %}
          </section>

        </article>
      </div>
    </div>

    {% include foot.html %}
  </body>
</html>
